body{
     display: flex !important;   
     align-items: center !important; 
justify-content: center !important; 
    height: 100vh !important; 
    background-color: #f4f4f4 !important;
    /* margin: 0 !important; */
}

.display{ 
    height: 90px;
    text-align: end;
    align-content: center;
     background-color: black !important; 
    color: white !important;

    
 }
 .size{
    font-size: 30px;
 }



 .button{
     width: 90px;
     height: 80px;
     font-size: 24px;
    
     
 }



